---
exterior_alt_text: >-
  Exterior image of a house in Bouldin Creek that Justin worked on.
interior_alt_text: >-
  Interior image of a house in Bouldin Creek that Justin worked on.
---
<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>

    <title>Cook Studio, LLC.</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

    <style>
      {% include normalize.scss %}
      {% include style.scss %}
    </style>
  </head>
  <body>
    <header>
      {% include logo.svg %}
    </header>

    <figure>
      <img id=hero
           class="mobile-hero responsive"
           src=/img/bouldin-creek-house-760.png
           alt="{{ page.exterior_alt_text }}" />

      <div class=caption-wrapper>
        <img class=interior-hero
             style="width: 100%"
             src=/img/bouldin-creek-interior.png
             alt="{{ page.interior_alt_text }}" />
      </div>

      <img class=desktop-exterior
           style="float: right; width: 49%;"
           src=/img/bouldin-creek-house-landscape.png
           alt="{{ page.exterior_alt_text }}" />

      <figcaption class=caption-wrapper>
        A collaboration with Architect Clayton Little in the Bouldin Creek
        neighborhood of Austin, Texas. <br>
        Photo courtesy of John Newbold
      </figcaption>
    </figure>

    <section>
      <p>
        Cook Studio, LLC is an architectural design firm owned and operated by
        Texas Licensed Architect Justin Cook. Justin has a diverse professional
        background in the architecture and construction industries, and is now
        primarily focused on providing residential and small scale commercial
        architectural services in the central Austin, TX area.
      </p>

      <p>
        Cook Studio, LLC specializes in providing thoughtful, client focused
        design executed through an organized, efficient, and collaborative
        process. Please reach out and contact us through the information below to
        set up an initial consultation. We look forward to working with you on
        your next project!
      </p>
    </section>

    <footer>
      <span id=qualifier>Website coming soon</span>

      <address>
        <table>
          <tr>
            <td>Email:</td>
            <td>
              <a href=mailto:jcook@cookstudioatx.com>jcook@cookstudioatx.com</a>
            </td>
          </tr>

          <tr>
            <td>Phone:</td>
            <td><a href=tel:512.659.6611>512.659.6611</a></td>
          </tr>

          <tr id=insta-table>
            <td>Instagram:</td>
            <td>
              <a href="https://www.instagram.com/cookstudioatx/">@cookstudioatx</a>
            </td>
          </tr>
        </table>
      </address>

      <a id=insta href="https://www.instagram.com/cookstudioatx/">Instagram: cookstudioatx</a>
    </footer>

    <script>{% include analytics.js %}</script>
    <script>{% include hi-res-image.js %}</script>

    <!-- made with ❤️ in austin, texas -->
  </body>
</html>
